/* :root equivale ao elemento raiz do documento.
   <html> é o elemento raiz no caso do HTML
   Usado aqui para declarar variáveis globais */
:root {
    --glitched-duration: 0.9s;
    --glitched-long-duration: 3s;
    --pink-red: #fb6f92;
    --pink-opacity: #ff5d8942;
    --light-crinsom: #f56991;
    --border-color: #59CBE8;
    --ultra-red: #fc6c85;
    --cyan-color: #47d6fa;
    --hawaii-blue: #00c3e3;
    --french-pink: #fd6c9e;
    --purple-color: purple;
  }

  body {
    background-color: var(--pink-red);
    max-height: 220vh; /* vh e vw fazem referência ao viewport (área visível do site em determinada tela), vh para altura e vw para largura.
                          Uma altura de 100vh corresponde a 100% do viewport*/
    /* padding: 30px; */
    margin: 0px;
  }

  body * { /* O asterisco aplica estilos a todos os elementos */
    font-family: "Advent Pro", arial ;
  }

  a {color: #fff;}

  body, html {
    overflow-x: hidden !important;
  }
  
  /* BoxTree */
  .boxtree {
    --gap: 15px;
    --border-height: 1px;
    --padding: 5px;
  }

  @media (min-width: 600px) {
    .boxtree {
      --gap: 20px;
      --border-height: 3px;
      --padding: 10px;
    }
  }

  @media (min-width: 900px) {
    .boxtree {
      --gap: 30px;
      --border-height: 5px;
      --padding: 20px;
    }
  }

  .boxtree {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: stretch;
    gap: var(--gap);
  }

  .boxtree > div {
    width: calc(100% - var(--gap));
    box-sizing: border-box;
    border: var(--border-height) dashed var(--purple-color);
    /*border-bottom: var(--border-height) dashed var(--purple-color); */
    padding: var(--padding);
    color: var(--purple-color);
    position: relative;
  }

  /* Images frames */
  img.cyberpunk {
    border: 30px solid #fb6f92;
    border-left: 5px solid #fb6f92;
    border-right: 5px solid #fb6f92;
    border-bottom: 15px solid #fb6f92; /* clip-path generator - https://bennettfeely.com/clippy/ */
    clip-path: polygon(0px 25px, 26px 0px, calc(60% - 25px) 0px, 60% 25px, 100% 25px, 100% calc(100% - 10px), calc(100% - 15px) calc(100% - 10px), calc(80% - 10px)  calc(100% - 10px), calc(80% - 15px) calc(100% - 0px), 10px  calc(100% - 0px), 0% calc(100% - 10px));
    background-color: #fb6f92;
    margin-bottom: 30px;
  }

  header.cyberpunk {
    border: 30px solid #010203;
    border-left: 5px solid #010203;
    border-right: 5px solid #010203;
    border-bottom: 15px solid #010203;
    clip-path: polygon(0px 0px, 26px 0px, calc(60% - 25px) 0px, 60% 0px, 100% 0px, 100% calc(100% - 10px), calc(100% - 15px) calc(100% - 10px), calc(80% - 10px)  calc(100% - 10px), calc(80% - 15px) calc(100% - 0px), 10px  calc(100% - 0px), 0% calc(100% - 10px));
    background-color: #010203;
  }

  footer.cyberpunk {
    border: 30px solid purple;
    border-left: 5px solid purple;
    border-right: 5px solid purple;
    border-bottom: 15px solid purple;
    clip-path: polygon(0px 25px, 26px 0px, calc(60% - 25px) 0px, 60% 25px, 100% 25px, 100% 100%, calc(100% - 15px) 100%, calc(80% - 10px)  100%, calc(80% - 15px) 100% , 10px  calc(100% - 0px), 0% 100%);
    background-color: purple;
    margin-top: 30px;
  }

  /* Section */
  section.cyberpunk {
    background-color: var(--purple-color);
    color: #fb6f92;
    padding: 60px 60px;
    position: relative;
    margin-top: -1px;
    margin-bottom: 30px;
  }

  h1.cyberpunk {
  font-size: 2rem;
  line-height: 2.2rem;
  font-weight: 200;
  position: relative; /* Um elemento com a "position: relative" está posicionado de acordo com sua posição dentro de seu container. */
  padding-bottom: 15px;
}

/* Estiliza um traço abaixo do texto */
h1.cyberpunk:before { /* ":before" cria um pseudo-elemento que é o primeiro filho do elemento atingido (h1.cyberpunk no caso). 
                         É frequentemente utilizado para adicionar conteúdo decorativo à um elemento utilizando a propriedade "content" */
    content: "_";
    display: block;
    position: absolute;
    bottom: 0px;
    left: 2px;
    width: 100%;
    height: 10px;
    background-color: #000;
    clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
}

/* Cria a animação "hxafter" */
@keyframes hxafter {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  51% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

/* Estiliza um cursor intermitente */
h1.cyberpunk:after {
  content: "_";
  animation-name: hxafter;
  animation-duration: var(--glitched-duration);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/* Cria a animação "glitched" */
@keyframes glitched { /* "@keyframes" especifica um código de animação, a animação é criada por gradualmente mudar uma configuração de estilo para outra */
  0% {
    transform: skew(-20deg);
    left: -4px;
  }
  10% {
    transform: skew(-20deg);
    left: -4px;
  }
  11% {
    transform: skew(0deg);
    left: 2px;
  }
  50% {
    transform: skew(0deg);
  }
  51% {
    transform: skew(10deg);
  }
  59% {
    transform: skew(10deg);
  }
  60% {
    transform: skew(0deg);
  }
  100% {
    transform: skew(0deg);
  }
}

/* Aplica a animação "glitched" para o texto do parágrafo */
p.cyberpunk.glitched, 
h1.cyberpunk.glitched {
  animation-name: glitched;
  animation-duration: calc(var(--glitched-duration) * 1.4);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/* Cria a animação "beforeglitched" */
@keyframes beforeglitched {
  0% {
    transform: skew(-20deg);
    left: -4px;
    clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
  }
  10% {
    transform: skew(-20deg);
    left: -4px;
    clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
  }
  11% {
    transform: skew(0deg);
    left: 2px;
    clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
  }
  50% {
    transform: skew(0deg);
    clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
  }
  51% {
    transform: skew(0deg);
    clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 40% 5px, calc(40% - 30px) 0px, calc(40% + 30px) 0px, calc(45% - 15px) 5px, 100% 5px, 100% 6px, calc(45% - 14px) 6px, calc(40% + 29px) 1px, calc(40% - 29px) 1px, calc(40% + 1px) 6px, 85px 6px, 80px 10px, 0px 10px);
  }
  59% {
    transform: skew(0deg);
    clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 40% 5px, calc(40% - 30px) 0px, calc(40% + 30px) 0px, calc(45% - 15px) 5px, 100% 5px, 100% 6px, calc(45% - 14px) 6px, calc(40% + 29px) 1px, calc(40% - 29px) 1px, calc(40% + 1px) 6px, 85px 6px, 80px 10px, 0px 10px);
  }
  60% {
    transform: skew(0deg);
    clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
  }
  100% {
    transform: skew(0deg);
    clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
  }
}

/* Aplica a animação "beforeglitched" para o texto do parágrafo */
h1.cyberpunk.glitched:before {
  animation-name: var(--glitched-animation, beforeglitched);
  animation-duration: calc(var(--glitched-duration) * 2);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes nothing {

  0% {
    transform: skew(0deg);
  }
  10% {
    transform: skew(0deg);
  }
  11% {
    transform: skew(0deg);
  }
  50% {
    transform: skew(0deg);
  }
  51% {
    transform: skew(0deg);
  }
  59% {
    transform: skew(0deg);
  }
  60% {
    transform: skew(0deg);
  }
  100% {
    transform: skew(0deg);
  }
  
}

/* Estiliza a Scrollbar */
::-webkit-scrollbar {
    background-color: var(--pink-red);
  }
  ::-webkit-scrollbar-button {
    display: none;
  }
  ::-webkit-scrollbar-track {
    display: none;
  }
  ::-webkit-scrollbar-track-piece {
    display: none;
  }
  ::-webkit-scrollbar-thumb {
    background-color: var(--ultra-red);
    border-bottom: 2px solid var(--border-color);
    border-right: 2px solid var(--border-color);
    transition: background var(--glitched-duration);
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--light-crinsom);
  }
  ::-webkit-scrollbar-corner {
    display: none;
  }
  ::-webkit-resizer {
    display: none;
  }